<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="de.selfmade4u.zig">
    <uses-sdk android:minSdkVersion="29"
          android:targetSdkVersion="36" />
    <application 
        android:debuggable="true" android:hasCode="false"
       >
        <activity android:exported="true" android:name="android.app.NativeActivity">
            <meta-data android:name="android.app.lib_name"
                android:value="zig" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>